<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/login.css" />
    <script src="../static/js/scripts.js" defer></script>
  </head>
  <body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
        {% if category == 'login' %}
          <p class="flash">{{ message }}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    
    <div id="login-container">
      <div id="login-banner">
        <div id="banner-layer">
          <h1>Seja bem-vindo</h1>
        </div>
      </div>

      <form id="login-form" method="post" action="/login">
        <h2>Entre na sua conta:</h2>
        <p>Faça login para acessar todas as funcionalidades do sistema</p>

        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" placeholder="Digite seu e-mail"/>
        </div>

        <div class="form-control">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite a sua senha"/>
        </div>

        <p><a href='\cadastro' id="possui">Não tenho conta</a></p>
        <input type="submit" value="Entrar" class="btn-login"/>
      </form>
    </div>
  </body>
</html>